<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-데이터-로드" data-toc-modified-id="1.-데이터-로드-1">1. 데이터 로드</a></span></li><li><span><a href="#2.-데이터-병합-및-전처리" data-toc-modified-id="2.-데이터-병합-및-전처리-2">2. 데이터 병합 및 전처리</a></span><ul class="toc-item"><li><span><a href="#2.1-데이터-병합" data-toc-modified-id="2.1-데이터-병합-2.1">2.1 데이터 병합</a></span></li><li><span><a href="#2.2-데이터-유형-변환" data-toc-modified-id="2.2-데이터-유형-변환-2.2">2.2 데이터 유형 변환</a></span></li><li><span><a href="#2.3-파생변수-추가" data-toc-modified-id="2.3-파생변수-추가-2.3">2.3 파생변수 추가</a></span></li></ul></li></ul></div>

# 1. 데이터 로드

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

In [73]:
날씨 = pd.read_csv('./data/전국날씨데이터.csv')
print(날씨.shape)
날씨.head(3)

(730, 9)

,일시,평균기온(℃),평균일강수량(mm),평균풍속(km/h),평균습도(%rh),일조합,일사합,체감온도(℃),일 미세먼지 농도(㎍/㎥)
0,2019-12-31,-3.8,0.1,12.96,46.0,8.8,11.31,-8.642578,19.758621
1,2019-12-30,5.0,0.9,7.56,79.0,2.2,3.96,3.252319,24.296296
2,2019-12-29,2.6,6.2,4.32,73.0,0.2,3.33,1.669374,34.172414

In [74]:
소셜1 = pd.read_csv('./data/sns2018_1.csv')
소셜2 = pd.read_csv('./data/sns2018_2.csv')
소셜3 = pd.read_csv('./data/sns2019_1.csv')
소셜4 = pd.read_csv('./data/sns2019_2.csv')

소셜1 = 소셜1.drop('Unnamed: 0', axis=1)
소셜1.columns = ['일시','대분류명','소분류명','10만건당 건수']

소셜2 = 소셜2.drop('Unnamed: 0', axis=1)
소셜2.columns = ['일시','대분류명','소분류명','10만건당 건수']

소셜3 = 소셜3.drop('Unnamed: 0', axis=1)
소셜3.columns = ['일시','대분류명','소분류명','10만건당 건수']

소셜4 = 소셜4.drop('Unnamed: 0', axis=1)
소셜4.columns = ['일시','대분류명','소분류명','10만건당 건수']

소셜 = pd.concat([소셜1, 소셜2, 소셜3, 소셜4], axis=0)
print(소셜.shape)
소셜.head(3)

(279590, 4)

         일시 대분류명          소분류명   10만건당 건수
0  20180101   뷰티  기능성 링클케어 화장품  12.154295
1  20180101   뷰티  기능성 모공관리 화장품  36.000828
2  20180101   뷰티  기능성 아이케어 화장품   0.895782

In [75]:
구매1 = pd.read_csv('./data/buy2018_1.csv')
구매2 = pd.read_csv('./data/buy2018_2.csv')
구매3 = pd.read_csv('./data/buy2019_1.csv')
구매4 = pd.read_csv('./data/buy2019_2.csv')

구매1 = 구매1.drop('Unnamed: 0', axis=1)
구매1.columns = ['일시','성별','연령대','대분류명','소분류명','구매건수']

구매2 = 구매2.drop('Unnamed: 0', axis=1)
구매2.columns = ['일시','성별','연령대','대분류명','소분류명','구매건수']

구매3 = 구매3.drop('Unnamed: 0', axis=1)
구매3.columns = ['일시','성별','연령대','대분류명','소분류명','구매건수']

구매4 = 구매4.drop('Unnamed: 0', axis=1)
구매4.columns = ['일시','성별','연령대','대분류명','소분류명','구매건수']

구매 = pd.concat([구매1, 구매2, 구매3, 구매4], axis=0)
print(구매.shape)
구매.head(3)

(2056899, 6)

         일시 성별  연령대 대분류명 소분류명  구매건수
0  20180101  F   20   식품  가공란    37
1  20180101  F   30   식품  가공란    16
2  20180101  F   40   식품  가공란     9

# 2. 데이터 병합 및 전처리

## 2.1 데이터 병합

일시 기준으로 구매, 날씨 데이터를 병합한 후,

일시, 대분류명, 소분류명을 기준으로 소셜 데이터 병합

In [76]:
구매['일시'] = 구매['일시'].apply(lambda x: datetime.strptime(str(x), '%Y%m%d'))
날씨['일시'] = 날씨['일시'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
소셜['일시'] = 소셜['일시'].apply(lambda x: datetime.strptime(str(x), '%Y%m%d'))

In [77]:
print(구매['일시'].dtype)
print(날씨['일시'].dtype)
print(소셜['일시'].dtype)

datetime64[ns]
datetime64[ns]
datetime64[ns]

In [84]:
# 구매 - 날씨 데이터 병합
m_data = pd.merge(구매, 날씨, on='일시')
print(m_data.shape)
m_data.head(3)

(2056899, 14)

,일시,성별,연령대,대분류명,소분류명,구매건수,평균기온(℃),평균일강수량(mm),평균풍속(km/h),평균습도(%rh),일조합,일사합,체감온도(℃),일 미세먼지 농도(㎍/㎥)
0,2018-01-01,F,20,식품,가공란,37,-0.4,0.0,6.84,51.0,8.7,9.31,-2.810026,32.962963
1,2018-01-01,F,30,식품,가공란,16,-0.4,0.0,6.84,51.0,8.7,9.31,-2.810026,32.962963
2,2018-01-01,F,40,식품,가공란,9,-0.4,0.0,6.84,51.0,8.7,9.31,-2.810026,32.962963

In [85]:
# data - 소셜 데이터 병합
data = pd.merge(m_data, 소셜, on=['일시','대분류명','소분류명'])
print(data.shape)
data.head(3)

(2056899, 15)

,일시,성별,연령대,대분류명,소분류명,구매건수,평균기온(℃),평균일강수량(mm),평균풍속(km/h),평균습도(%rh),일조합,일사합,체감온도(℃),일 미세먼지 농도(㎍/㎥),10만건당 건수
0,2018-01-01,F,20,식품,가공란,37,-0.4,0.0,6.84,51.0,8.7,9.31,-2.810026,32.962963,0.480964
1,2018-01-01,F,30,식품,가공란,16,-0.4,0.0,6.84,51.0,8.7,9.31,-2.810026,32.962963,0.480964
2,2018-01-01,F,40,식품,가공란,9,-0.4,0.0,6.84,51.0,8.7,9.31,-2.810026,32.962963,0.480964

In [91]:
# data.to_csv('./data/total_merged_data.csv', index=False)

## 2.2 데이터 유형 변환

In [2]:
data = pd.read_csv('./data/total_merged_data.csv')
print(data.shape)
data.head(3)

(2056899, 15)

,일시,성별,연령대,대분류명,소분류명,구매건수,평균기온(℃),평균일강수량(mm),평균풍속(km/h),평균습도(%rh),일조합,일사합,체감온도(℃),일 미세먼지 농도(㎍/㎥),10만건당 건수
0,2018-01-01,F,20,식품,가공란,37,-0.4,0.0,6.84,51.0,8.7,9.31,-2.810026,32.962963,0.480964
1,2018-01-01,F,30,식품,가공란,16,-0.4,0.0,6.84,51.0,8.7,9.31,-2.810026,32.962963,0.480964
2,2018-01-01,F,40,식품,가공란,9,-0.4,0.0,6.84,51.0,8.7,9.31,-2.810026,32.962963,0.480964

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2056899 entries, 0 to 2056898
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   일시              object
 1   성별              object
 2   연령대             int64
 3   대분류명            object
 4   소분류명            object
 5   구매건수            int64
 6   평균기온(℃)         float64
 7   평균일강수량(mm)      float64
 8   평균풍속(km/h)      float64
 9   평균습도(%rh)       float64
 10  일조합             float64
 11  일사합             float64
 12  체감온도(℃)         float64
 13  일 미세먼지 농도(㎍/㎥)  float64
 14  10만건당 건수        float64
dtypes: float64(9), int64(2), object(4)
memory usage: 235.4+ MB

일시는 날짜 형식, 연령대는 object 형식으로 변경

In [8]:
data['일시'] = pd.to_datetime(data['일시'])
data['연령대'] = data['연령대'].astype(object)

## 2.3 파생변수 추가

월, 일, 계절, 요일, 평일/주말, 공휴일 칼럼을 추가하고 일시 칼럼 삭제

- 요일 (0: 월, 1: 화, 2: 수, 3: 목, 4: 금, 5: 토, 6: 일)


- 평일/주말 (0: 평일, 1: 주말)


- 계절 (3 ~ 5월: 봄, 6 ~ 8월: 여름, 9 ~ 11월: 가을, 12 ~ 2월: 겨울)


- 공휴일 (0: 공휴일X, 1: 공휴일O)

In [12]:
data2 = data.copy()
data2['월'] = data2['일시'].dt.month
data2['일'] = data2['일시'].dt.day
data2['요일'] = data2['일시'].apply(lambda x: x.weekday())
data2['평일/주말'] = 0
data2.loc[(data2['요일']==5) | (data2['요일']==6), '평일/주말'] = 1
data2['계절'] = 0
data2.loc[(data2['월']>=3) & (data2['월']<=5), '계절'] = '봄'
data2.loc[(data2['월']>=6) & (data2['월']<=8), '계절'] = '여름'
data2.loc[(data2['월']>=9) & (data2['월']<=11), '계절'] = '가을'
data2.loc[(data2['월']==12) | (data2['월']==1) | (data2['월']==2), '계절'] = '겨울'

In [26]:
# 공휴일 파일 로드
공휴일 = pd.read_excel('./data/국가공휴일.xlsx')
print(공휴일.shape)
공휴일.head(3)

(66, 5)

   순서     년  월   일  설명
0   1  2018  1   1  새해
1   2  2018  2  15  설날
2   3  2018  2  16  설날

In [27]:
공휴일['년'] = 공휴일['년'].astype(str)
공휴일['월'] = 공휴일['월'].astype(str)
공휴일['일'] = 공휴일['일'].astype(str)
공휴일['일시'] = 공휴일['년'] + '-' + 공휴일['월'] + '-' + 공휴일['일']
공휴일['일시'] = pd.to_datetime(공휴일['일시'])
공휴일['설명'] = 1
공휴일 = 공휴일[['일시', '설명']].rename(columns={'설명': '공휴일'})
공휴일.head(3)

          일시  공휴일
0 2018-01-01    1
1 2018-02-15    1
2 2018-02-16    1

In [28]:
data3 = pd.merge(data2, 공휴일, on='일시', how='left')
data3.head(3)

,일시,성별,연령대,대분류명,소분류명,구매건수,평균기온(℃),평균일강수량(mm),평균풍속(km/h),평균습도(%rh),...,일사합,체감온도(℃),일 미세먼지 농도(㎍/㎥),10만건당 건수,월,일,요일,평일/주말,계절,공휴일
0,2018-01-01,F,20,식품,가공란,37,-0.4,0.0,6.84,51.0,...,9.31,-2.810026,32.962963,0.480964,1,1,0,0,겨울,1.0
1,2018-01-01,F,30,식품,가공란,16,-0.4,0.0,6.84,51.0,...,9.31,-2.810026,32.962963,0.480964,1,1,0,0,겨울,1.0
2,2018-01-01,F,40,식품,가공란,9,-0.4,0.0,6.84,51.0,...,9.31,-2.810026,32.962963,0.480964,1,1,0,0,겨울,1.0

In [29]:
data3['공휴일'] = data3['공휴일'].apply(lambda x: 0 if x!=1 else x)

In [33]:
data3.columns

Index(['일시', '성별', '연령대', '대분류명', '소분류명', '구매건수', '평균기온(℃)', '평균일강수량(mm)',
       '평균풍속(km/h)', '평균습도(%rh)', '일조합', '일사합', '체감온도(℃)', '일 미세먼지 농도(㎍/㎥)',
       '10만건당 건수', '월', '일', '요일', '평일/주말', '계절', '공휴일'],
      dtype='object')

In [34]:
data3.drop('일시', axis=1, inplace=True)
data3 = data3[['계절','월','일','요일','평일/주말','공휴일','성별','연령대','대분류명','소분류명',\
               '평균기온(℃)','평균일강수량(mm)','평균풍속(km/h)','평균습도(%rh)','일조합','일사합',\
               '체감온도(℃)','일 미세먼지 농도(㎍/㎥)','10만건당 건수','구매건수']]
print(data3.shape)
data3.head(3)

(2056899, 20)

,계절,월,일,요일,평일/주말,공휴일,성별,연령대,대분류명,소분류명,평균기온(℃),평균일강수량(mm),평균풍속(km/h),평균습도(%rh),일조합,일사합,체감온도(℃),일 미세먼지 농도(㎍/㎥),10만건당 건수,구매건수
0,겨울,1,1,0,0,1.0,F,20,식품,가공란,-0.4,0.0,6.84,51.0,8.7,9.31,-2.810026,32.962963,0.480964,37
1,겨울,1,1,0,0,1.0,F,30,식품,가공란,-0.4,0.0,6.84,51.0,8.7,9.31,-2.810026,32.962963,0.480964,16
2,겨울,1,1,0,0,1.0,F,40,식품,가공란,-0.4,0.0,6.84,51.0,8.7,9.31,-2.810026,32.962963,0.480964,9

In [35]:
# data3.to_csv('./data/preprocessed_data.csv', index=False)